<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/styles/plugin-center.css" />
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <title>SCM-Manager Plugin Center</title>
</head>
<body>

<main>
  <div class="content">
    <img class="logo" src="/static/images/logo.svg" alt="SCM-Manager Logo">
    {{block "content" .}}{{end}}
  </div>
</main>

<div class="imprint">
  <a target="_blank" href="https://scm-manager.org/data-processing">
    Data Processing
  </a>
  <a target="_blank" href="https://scm-manager.org/imprint">
    Imprint &amp; Privacy
  </a>
</div>

</body>
</html>
